{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Interactive Map Web Application</h1>
    <p class="lead">Never concerning about - where - you - are 🎵🎶</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The VGU Map Application is a simple, custom map based on the real new campus of VGU.
            It provides a clear visualization that shows each building, its name, as well as your current location,
            making it easier and more funny to explore the real campus.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            This project is held by a group of Computer Science and Engineering students from Vietnamese-German University
            for the course Multi-disciplinary Project. The course runs for approximately 8 weeks, which is also the amount
            of time we spent on this project.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Technical Overview</h2>
        <p>
            We chose to use Flask as our framework, along with Google Maps and Geolocation APIs, to receive and
            display users' GPS data from their devices. Our project also incorporates a range of other technologies,
            including: Python, HTML, JavaScript, CSS, etc.
        </p>
       
    </div>
</div>

{% endblock %}
