<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta  http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetpassword</title>
    <link rel="stylesheet" href ="/static/content/forgetpassword.css">
</head>

<body>

    <section>
    <div class="login-box">
        <form action="{{ url_for('checkResetPassword')}}" method="post">
            <h2>Reset Password</h2>
            <div class="input-box">
                <input type="text" id="password" name="password" pattern="\w{6,16}" title="Username must be between 6 - 16 characters." required>
                <label>New password:</label>
            </div> 
            <div class="input-box">
                <input type="password" id="passwordConfirm" name="passwordConfirm" pattern="\w{6,16}" title="Password must be between 6 - 16 characters." required>
                <label>Confirm password:</label>
            </div>
            <p>The entered passwords are not identical, please try again!</p>
            <button type="submit">Reset</button>
        </form>
    </div> 
</section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>












